.home{
    display:flex;
    .dashboardContainer{
        // background-color: lightblue;
        flex: 6;
    }

    .cardsContainer, .chartsContainer{
        display:flex;
        padding: 20px;
        gap: 20px;
        flex-grow: 1;
    }
    .chartsContainer{}
}